<%= form_with url: '/chemicals', method: :patch, local: true do |form| %>
  <%= form.hidden_field :id, value: @chemical[:id] %>
  <%= form.label :name %>
  <%= form.text_field :name, :value => @chemical[:name]%> <br>
  <%= form.label :amount, "Amount in grams"%>
  <%= form.number_field :amount, :value => @chemical[:amount], in: 1.0..50.0, step: 0.5 %> <br>
  <%= form.radio_button :flammable, "true", :checked => @chemical[:flammable] == true ? true : false %>
  <%= form.label :flammable_true, "Chemical is flammable"%>
  <%= form.radio_button :flammable, "false", :checked => @chemical[:flammable] == false ? true : false %>
  <%= form.label :flammable_false, "Chemical is not flammable"%><br>
  <%= form.label :storage_id, "Storage Unit"%><br>
  <%= form.select :storage_id,
                  @all_units,
                  selected: @storage_unit_name,
                  :prompt => "Select Storage Unit"%><br>
  <%= form.submit 'Edit Chemical' %>

<% end %>

<!--<form action='/chemicals/<% @chemical.id %>' method='post'>
  <input type="hidden" name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <label for='chemical name'>chemical name (location)</label>
  <input type='text' id='chemical name' name='chemical[name]' value='<%= @chemical.name %>'/><br/>
  <label for='amount'>chemical amount in grams</label>
  <input type='number' id='amount' name='chemical[amount]' value='<%= @chemical.amount %>'/><br/>
  <label for='flammable'>Is the the chemical flammable?</label>
  <input type="radio" id="yes" name="chemical[flammable]" value="true">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="chemical[flammable]" value="false">
  <label for="no">No</label><br>

  <input type='submit'/>
</form>