<%= render "partials/menu" %>
<head>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  th, td {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<h1>Welcome to Chemical Inventory</h1>
<p>Below is a list of all the chemicals available<p>
<%# <%= link_to "List only flammable chemicals", :all_flammable => true %>
  <table>
    <tr>
      <th>Name</th>
      <th>Amount(grams)</th>
      <th>Flammable</th>
      <th>Location</th>
      <th>Created</th>
      <th>Last updated</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @chemicals.each do |chemical| %>
      <% if chemical.flammable %>
        <tr id="chemical_<%= chemical.id %>">
          <td><%= link_to chemical.name, "/chemicals/#{chemical.id}"%></td>
          <td><%= chemical.amount %></td>
          <td><%= chemical.flammable %></td>
          <td><%= link_to @storage_units.find(chemical.storage_unit_id).name, "/storage_units/#{chemical.storage_unit_id}" %></td>
          <td><%= chemical.created_at %></td>
          <td><%= chemical.updated_at %></td>
          <td><%= link_to "Edit #{chemical.name}", "/chemicals/#{chemical.id}/edit" %></td>
          <td><%= form_with url: "/chemicals/#{chemical.id}", method: :delete, local: true do |form|%>
            <%= form.submit "Delete #{chemical.name}"%>
          <%end%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<%= link_to "Add new chemical", "/chemicals/new" %><br>
