<%= form_with url: '/chemicals', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %> <br>
  <%= form.label :amount, "Amount in grams"%>
  <%= form.number_field :amount, in: 0.00..1000000.00, step: 0.01 %> <br>
  <%= form.radio_button :flammable, "true"%>
  <%= form.label :flammable_true, "Chemical is flammable"%>
  <%= form.radio_button :flammable, "false"%>
  <%= form.label :flammable_false, "Chemical is not flammable"%><br>
  <%= form.label :storage_unit_id, "Storage Unit"%><br>
  <% all_units = @storage_units.map(&:name).zip(@storage_units.map(&:id))%>
  <%= form.select :storage_unit_id,
                  all_units,
                  :prompt => "Select Storage Unit"%>
  <%= form.submit 'Create Chemical' %>

<% end %>







<!--
<form action='/chemicals' method='post'>
  <input type="hidden" name='authenticity_token' value="<%= form_authenticity_token %>">
  <p>Add a new chemical</p>
  <label for='chemical name'>chemical name (scientific)</label>
  <input type='text' id='chemical name' name='chemical[name]'/><br/>
  <label for='amount'>chemical amount in grams</label>
  <input type='number' id='amount' name='chemical[amount]'/><br/>
  <label for='flammable'>Is the the chemical flammable?</label>
  <input type="radio" id="yes" name="chemical[flammable]" value="true">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="chemical[flammable]" value="false">
  <label for="no">No</label><br>
  <label for="storage_units">Choose a Storage Unit</label>
  <select id="storage_units" name="chemical[storage_id]">
    <% @storage_units.each do |storage_unit| %>
      <option value=<%storage_unit.id%>><%=storage_unit.name%></option>
    <% end %>
  <br><input type='submit'/>
</form>
-->

