<%= form_with url: '/storage_units', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %> <br>
  <%= form.label :size, "Size in sq. ft."%>
  <%= form.number_field :size, in: 0.0..100.0, step: 0.5 %> <br>
  <%= form.radio_button :fireproof, "true"%>
  <%= form.label :fireproof_true, "Storage is fireproof"%>
  <%= form.radio_button :fireproof, "false"%>
  <%= form.label :fireproof_false, "Storage is not fireproof"%><br>
  <%= form.submit 'Create Storage' %>

<% end %>





<!--
<form action='/storage_units' method='post'>
  <input type="hidden" name='authenticity_token' value="<%= form_authenticity_token %>">
  <p>Add a new storage unit</p>
  <label for='storage unit name'>Storage Unit name (location)</label>
  <input type='text' id='storage unit name' name='storage_unit[name]'/><br/>
  <label for='size'>Storage Unit size in sq. ft</label>
  <input type='number' id='size' name='storage_unit[size]'/><br/>
  <label for='fireproof'>Is the the storage unit fireproof?</label>
  <input type="radio" id="yes" name="storage_unit[fireproof]" value="true">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="storage_unit[fireproof]" value="false">
  <label for="no">No</label><br>

  <input type='submit'/>
</form>