<head>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  th, td {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<table>
  <tr>
    <th>Name</th>
    <th>Size(sq.ft.)</th>
    <th>Fireproof?</th>
    <th>Chemicals</th>
    <th>Number of Chemicals</th>
    <th>Created</th>
    <th>Last updated</th>
    <th>Delete</th>
  </tr>
  <tr id="storage_unit_<%= @storage_unit.id %>">
    <td><%= @storage_unit.name %></td>
    <td><%= @storage_unit.size %></td>
    <td><%= @storage_unit.fireproof %></td>
    <td><%= link_to "Chemicals", "/storage_units/#{@storage_unit.id}/chemicals"%></td>
    <td><%= @storage_unit.chemicals_count %></td>
    <td><%= @storage_unit.created_at %></td>
    <td><%= @storage_unit.updated_at %></td>
    <td><%= form_with url: "/storage_units/#{@storage_unit.id}", method: :delete, local: true do |form|%>
      <%= form.submit "Delete #{@storage_unit.name}"%>
    <%end%></td>
  </tr>
</table>

<a href='/storage_units/<%= @storage_unit.id %>/edit'>Edit</a>