<%= render "partials/menu" %>

<head>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  th, td {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<p><%= "Below is a list of all the chemicals in the #{@storage_unit.name} storage unit"%><p>
  <p><%= link_to "Sort in Alphabetical Order", :sort => "name" %></p>
<table>
    <tr>
      <th>Name</th>
      <th>Amount(grams)</th>
      <th>Flammable</th>
      <th>Created</th>
      <th>Last updated</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @chemicals.each do |chemical| %>
      <tr>
        <td><%= link_to chemical.name, "/chemicals/#{chemical.id}"%></td>
        <td><%= chemical.amount %></td>
        <td><%= chemical.flammable %></td>
        <td><%= chemical.created_at %></td>
        <td><%= chemical.updated_at %></td>
        <td><%= link_to "Edit #{chemical.name}", "/chemicals/#{chemical.id}/edit" %></td>
        <td><%= form_with url: "/chemicals/#{chemical.id}", method: :delete, local: true do |form|%>
          <%= form.submit 'Delete'%>
        <%end%></td>
      </tr>
    <% end %>
</table>
<%= link_to "Add New Chemical to #{@storage_unit.name}", "/storage_units/#{@storage_unit.id}/chemicals/new" %>